<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Network" value="CBC"/>
		<add key="VizHost_CBC" value="192.168.1.70"/>
		<add key="VizPort_CBC" value="6100"/>
		<add key="VizScene_CBC" value="/SPECIALS/PARIS/ONLINE/9170_DP"/>
		<add key="SubTitle_CBC" value="Day 1"/>
		<add key="Title_CBC" value="Day 1"/>
		<add key="VizHost_RADIO-CANADA" value="192.168.1.70"/>
		<add key="VizPort_RADIO-CANADA" value="6100"/>
		<add key="VizScene_RADIO-CANADA" value="/RADIO-CANADA/SPORTS/PARIS_2024/MEO/MEDAILLES_DP/9170_DP"/>
		<add key="NumberOfResults" value="10"/>
		<add key="Feed:Url" value="http://olympics.cbc.ca/externallibs/medals/widget/medalstable.json"/>
		<!--<add key="Feed:Url" value="http://fr.cbc.d3cloudservices.net/externallibs/medals/widget/medalstable.json" />-->
		<!--<add key="Feed:Directory" value="C:\Users\PicardJo\Downloads\BDF-2016-08-15" />-->
		<!--<add key="Feed:Directory" value="C:\Temp\JO" />-->
		<!--<add key="Feed:MedalFile" value="*GL*DT_MEDALS.xml" />-->
		<add key="Feed:Directory" value="M:\Incoming\GEN"/>
		<add key="Feed:MedalFile" value="*DT_MEDALS_GEN*.xml"/>
		<add key="Feed:DirectoryStandings" value="M:\Incoming\GEN"/>
		<add key="Feed:MedalFileStandings" value="*DT_MEDALS_GEN*.xml"/>
		<add key="Feed:DirectoryIndividual" value="M:\Incoming\SWM"/>
		<add key="Feed:MedalFileIndividual" value="*SWM*.xml"/>
		<add key="Feed:DirectoryWinners" value="M:\Incoming\SWM"/>
		<add key="Feed:MedalFileWinners" value="*MEDALLISTS*.xml"/>
		<add key="Feed:DirectoryTeam" value="M:\Incoming\BKB"/>
		<add key="Feed:MedalFileTeam" value="*BKB*.xml"/>
		<add key="Feed:DirectoryTeamName" value="M:\Incoming\SWM"/>
		<add key="Feed:MedalFileTeamName" value="*SWM*.xml"/>
	</appSettings>
</configuration>